<h1>Scrabble-Web</h1>

<% if @last_phrase %>
  <div id='last_phrase'>
    <h3>Results</h3>
    <div id='phrase'>
      <%= @last_phrase.phrase %>
    </div>
    <div id='score'>
      <%= @last_phrase.score %>
    </div>
  </div>

<% end %>

<h3>Score a Word</h3>
<%= form_for @new_word do |f| %>
  <%= f.text_field :word %>
  <%= f.submit "Score Phrase" %>
<% end %>

<div id="previous_phrases">
  <h3>Previous Phrase</h3>
  <ul>
    <% @previous_phrases.each do |phrase| %>
      <li><%= phrase.phrase %>: <%= phrase.score %></li>
      <% if phrase.words.size > 1 %>
        <ul>
          <% phrase.words.each do |word| %>
            <li><%= word.word %>: <%= word.score %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
</div>
